.catNav {
  width: 100%;

  display: flex;
  overflow-x: scroll;

  padding: 10px 0;
  border-bottom: 2px solid #eeeeee;
  background-color: white;

  position: sticky;
  top: 0px;

  .catNav-category {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.catNav::-webkit-scrollbar {
  display: none;
}
