$grey: #f6f6f6;
$orange: #ea744a;
$blue: #4eacf8;

.header {
  padding: 10px 0;
  max-width: 1068px;
  margin: 0 auto;

  text-align: center;

  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  column-gap: 5px;

  justify-content: center;
  align-items: center;

  .header-address {
    display: flex;
    justify-content: center;
    align-items: center;

    .header-address-arrow {
      color: #4eacf8;
    }

    p {
      padding: 0 10px;
      font-size: 0.9em;
    }
  }

  button {
    padding: 5px 0;
    color: #a9b5c7;
    a {
      color: #a9b5c7;
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    grid-template-columns: 1fr;

    .header_logo {
      display: none;
    }

    button {
      display: none;
    }
  }
}
