$grey: #f6f6f6;
$orange: #ea744a;
$blue: #4eacf8;

.header {
  padding: 10px 0;
  max-width: 1068px;
  margin: 0 auto;

  text-align: center;

  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  column-gap: 5px;

  justify-content: center;
  align-items: center;

  .header_seaerch {
    background-color: #f3f3f3;
    border-radius: 100px;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    input {
      border: none;
      margin-left: 10px;
      padding: 5px;
      width: 90%;
      border-radius: 30px;
      background-color: #f3f3f3;

      color: #9e9e9e;
      font-weight: bold;
    }
    input:hover {
      border: none;
    }
    svg {
      font-size: 1.5rem;
      margin-left: 10px;
    }
  }

  button {
    padding: 5px 0;
    color: #a9b5c7;
    a {
      color: #a9b5c7;
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    grid-template-columns: 1fr;

    .header_logo {
      display: none;
    }
    .header_seaerch {
      text-align: center;
    }
    button {
      display: none;
    }
  }
}
