.navbar{
    max-width: 1068px;
    margin: 0 auto;
    .navbar-item{
        display: flex;
        justify-content: space-evenly;

        li{
            margin: 15px 0;
            font-weight: bold;
            font-size: 1.1rem;
        }
    }
}