$orange: #da6629;
$grey: #939daa;

.select-options {
  .select-options-cat {
    background-color: $grey;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    p:nth-child(1) {
      font-weight: bold;
      font-size: 1rem;
    }
    p:nth-child(2) {
      color: $orange;
      font-size: 0.9rem;
    }
  }

  .select-menu-options {
    .select-menu-option {
      display: flex;
      padding: 10px;
      justify-content: space-between;
      input {
        margin-right: 5px;
      }
    }
  }
}
